<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>我的毕设日志</title>
		<meta name="referrer" content="no-referrer" />
		<link rel="stylesheet" href="css/aboutMe.css" />
		<!--陌生人你好，是不是觉得左下角的小姑娘不错?,想要源码？好的安排！ 下方github开源地址↓↓↓-->
		<!-- 左下角在线动漫 github开源地址->https://github.com/stevenjoezhang/live2d-widget-->
		<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
		<!-- vue.js -->
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 开发环境版本，包含了有帮助的命令行警告 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!--  axios 在线地址 -->
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
	</head>
	<body>
		<div id="bigBox">
			<!-- 头部导航栏 start-->
			<div class="nva">
				<!-- <div class="left"><a href="index.html">返回首页</a> </div> -->
				<img src="img/back.png" onclick="javascript:location.href='index.html'" title="返回首页"/>
				<div class="right" v-show="islogin!='登录'"><a href="JavaScript:void(0)" @click="logOut">注销</a></div>
				<div class="right"><a href="JavaScript:void(0)" v-text="islogin" @click="isJump">登录</a></div>
			</div>
			<!--头部导航栏 end -->
			<div id="about-box">
				<div id="head-title">
					<h2>我的毕设日志</h2>
				</div>
				<!-- 日志内容展示区域 start-->
				<div id="log-box">
					<div id="log-list" v-for="logContent in logArray">
						<span v-text="logContent[0]">2020-10-19</span><br />
						<strong v-html="logContent[1]">666</strong><br />
					</div>
				</div>
				<!--  日志内容展示区域 end-->
				<!-- 发表框 start-->
				<div id="edit-log" v-if="visible==true">
					<input value="" v-model="dataTime" placeholder="输入时间" /><br /><br />
					<textarea v-model="content"></textarea>
					<button @click="sedLog"> 发表日志 </button>
				</div>
				<!-- 发表框 end-->
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/aboutMe.js"></script>
</html>
