<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="referrer" content="no-referrer" />
		<link rel="stylesheet" type="text/css" href="css/details.css" />
		<link rel="stylesheet" type="text/css" href="css/comment.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 开发环境版本，包含了有帮助的命令行警告 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!--  axios 在线地址 -->
		<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
		<!-- jquery -->
		<script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- jQuery Cookie 插件在线地址用于方便获取cookie的值 -->
		<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<title>视频详情</title>
	</head>
	<body>
		<div id="biBox">
			<!-- 导航栏 -->
			<div id="banner">
				<!-- 网站logon -->
				<div id="logo">
					<img src="img/diylogo1.png">
				</div>
				<!-- 导航栏左边标题 -->
				<div id="title">
					<ul>
						<a href="javascript:void(0);" v-for="(item,index) in navigationBar" @click="changeStyle(index)" :style="index==setIndex?navigationBarStyle:''"
						 v-text="item">首页</a>
					</ul>
				</div>
				<!-- 导航栏右边标题 -->
				<div id="titleRight">
					<a href="login.html" onclick="return false" @click="isLogged($event)" target="_blank" v-text="isGetName" title="登录">登录</a>
				</div>

			</div>
			<div id="list-biBox">
				<div id="mainContent">
					<!-- 详情-->
					<div id="details" v-show="videoArr.types!=null">
						<div class="head"><span><a href="index.html">返回首页></a><a href="choose.html">返回选影></a></span><span>视频详情</span></div>
						<div class="headtitle"><strong style="color: #b1b1b1;" v-text="videoArr.title">爱与怪物</strong></div>
						<div id="video-details">
							<div class="show">
								<!-- 图片 -->
								<img :src="image" alt="这是一张视频封图片" title="点击播放" @click="play(videoArr.title)" />
							</div>
							<div class="show-content">
								<ul>
									<li>
										<span v-text="'导演: '+videoArr.directors">导演:777</span>
										<span v-text="'主演: '+videoArr.actors">主演:777</span>
										<span v-text="'类型: '+videoArr.types">类型:恐怖</span>
										<span v-text="'上映: '+videoArr.release_year">时间:2020年</span>
										<span v-text="'片长: '+videoArr.duration">片长:24分</span>
										<span v-text="'制片国家: '+videoArr.region">制片国家:777</span>
										<span v-text="'视频类型: '+videoArr.subtype">视频类型:电影</span>
									</li>
								</ul>
							</div>
							<div class="show" v-if="videoArr.short_comment!=null">
								<span>豆瓣评分:</span><strong style="color: yellow;" v-text="videoArr.rate">9.0</strong><br /><br />
								<!-- <span>本站评论数量: <span v-text="commetMessage.length"></span> </span> -->
								<span v-text="videoArr.short_comment.author+': '"></span>
								<textarea readonly="readonly" v-text="videoArr.short_comment.content"></textarea>
							</div>
						</div>
						<!-- 评论列表 -->
						<div id="comments">
							<div id="commentx" v-for="getComment in commetMessage" v-if="commetMessage!=null">
								<!-- 评论信息 -->
								<span><img :src="getComment.userImage" style="width: 40px;height: 40px;"></span>
								<span style="font-size: 13px;color: #dcdf32" v-text="getComment.userName+' 发布于 '"></span>
								<span style="font-size: 13px;color: #bebebe" v-text="getComment.commentTime"></span><br /><br />
								<label style="font-size:15px;color: #efefef" v-text="getComment.commentContent">评论内容</lable>
							</div>
							<div id="comment-ifo">
								<span><a href="JavaScript:void(0)" @click="moreComment($event)">上一页</a></span>
								<span><a @click="loadMore()" v-text="loadTip" style="color: yellow;" href="JavaScript:void(0)">
								加载中.....</a></span>
								<span><a href="JavaScript:void(0)" @click="moreComment($event)">下一页</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var app = new Vue({
			el: '#biBox',
			data: {
				//上下翻页提示
				loadTip:'加载完成',
				//登录判断
				isGetName:'登录',
				//判断导航栏当前选中的是哪个
				setIndex: 0,
				//导航栏选中是使用的样式
				navigationBarStyle: 'border-bottom: #3448BC 3px solid;color:white',
				//导航栏
				navigationBar: ['首页', '选影', '音乐', '关于'],
				//视频图片url
				image: '',
				//视频信息数组
				videoArr: [],
				//评论信息数组
				commetMessage: [],
				//输入框绑定
				inputValue: '',
				//视频ID
				videoId: '',
				//控制评论分页
				start:0,
			},
			methods: {
				changeStyle(index) {
					this.setIndex = index;
					if(index==0){open('index.html');}
					if(index==1){open('choose.html');}
					if(index==2){open('music.html');}
					if(index==3){open('aboutMe.html');}
				},
				onload: function() {
					$.cookie.raw = true; //默认情况下，读取和写入 cookie 的时候自动进行编码和解码（使用 encodeURIComponent 编码，decodeURIComponent 解码）。要关闭这个功能设置 raw:true 即可
					$.cookie.json = true; //设置 cookie 的数据使用 json 存储与读取，这时就不需要使用 JSON.stringify 和 JSON.parse 了
					this.image = $.cookie('iamge_url').replace(/\"/g, ""); //replace(/\"/g,""):把读出来的数据引号去掉
					this.videoId = $.cookie('id').replace(/\"/g, "");
					axios.get('php/doDetails.php?id=' + this.videoId).then(response => {
						this.videoArr = response.data.subject;
					})
				},
				//获取豆瓣评论
				show(){
					axios.get('php/doubanComment.php',{
						params:{
							id:this.videoId,
							start:this.start,
						}
					}).then(response=>{
						if(response.data[0].userName==''){
							this.loadTip = '没有更多数据了~~~';
							this.start -= 20;
						}else{
							this.commetMessage = response.data;
							this.loadTip = '加载完成';
							console.log(response.data);
							//锚点定位：跳转到评论头部
							if(this.start==0){window.location.href = '#banner';}
							else{window.location.href = '#list-biBox';}
							
						}
						
					})
				},
				//评论上下翻页
				moreComment(e){
					if(e.currentTarget.innerText=='下一页'){
						this.start +=20;
						this.loadTip = '加载中....';
						this.show();
					}else{
						if(this.start==0){
							this.loadTip = '已经是第一页啦~~';
						}else{
							this.loadTip = '加载中....';
							this.start -=20;
							this.show();
						}
						
					}
					
				},
				//加载更多评论
				loadMore(){
					this.start += 20;
					axios.get('php/doubanComment.php',{
						params:{
							id:this.videoId,
							start:this.start,
						}
					}).then(response=>{
						if(response.data[0].userName==''){
							this.loadTip = '没有更多数据了~~~';
							this.start -= 20;
						}else{
							//向commetMessage数组追加数据
							this.commetMessage =this.commetMessage.concat(response.data);
							this.loadTip = '加载完成';
							console.log(response.data);
						}
						
					})
				},
				//验证用户是否已经登录
				userVrification: function(){
					axios.get('php/userVrification.php').then(response =>{
						if(response.data==false){
							this.isGetName = '登录';
						}else{
							this.isGetName = response.data;
							console.log(response.data);
						}
					})
				},
				//用于判断有上方登录按钮时是否跳转登录
				isLogged(e){
					if(e.currentTarget.innerText !='登录'){
						alert('已经登录了');
					}else{
						window.open('login.html');
					}
				},
				play(videoName) {
					window.open('https://v.6hu.cc/dd1/?v=' + videoName);
				}
			},
			mounted() {
				//mounted这个方法用于页面加载时执行的方法写这里（或者用create()方法）
				this.onload();
				this.show();
				this.userVrification();
			}
		})
	</script>
</html>
