<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="referrer" content="no-referrer" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 开发环境版本，包含了有帮助的命令行警告 -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 官网提供的 axios 在线地址 -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="biBox">
			<!-- 导航栏 -->
			<div id="banner">
				<!-- 网站logon -->
				<div id="logo">
					<img src="img/diylogo1.png">
				</div>
				<!-- 导航栏左边标题 -->
				<div id="title">
					<ul>
						<a href="javascript:void(0);" v-for="(item,index) in navigationBar" @click="changeStyle(index)" :style="index==setIndex?navigationBarStyle:''"
						 v-text="item">首页</a>
					</ul>
				</div>
				<!-- 导航栏右边标题 -->
				<div id="titleRight">
					<a href="login.html" target="_blank" title="登录">登录</a>
				</div>

			</div>
			<div id="mainContent">
				<strong id="newRecommend">正在热播</strong>
				<!-- 头部显示区域轮番 -->
				<div id="rotation">
					<!-- 轮播图片 -->
					<div id="image">
						<!-- style="object-fit: cover; cover等比缩放, none-->
						<img :src="rotationArr[rotationIndex].path">
					</div>
					<!-- 轮播图片对应内容 -->
					<div id="content">
						<div id="nr">
							<!-- 左右切换图片按钮 -->
							<input type="button" value="<" @click='left' />
							<input type="button" value=">" @click='right' />
							<h3 v-text="rotationArr[rotationIndex].title">哪吒</h3>
							<span v-text="rotationArr[rotationIndex].rate">3.5分</span>
						</div>
						<a :href="rotationArr[rotationIndex].url" :src='rotationArr[rotationIndex].url'>了解详情---></a>
					</div>
				</div>
				<!-- 列表区域 -->
				<div id="list">
					<div id="hotMovieList">
						<strong v-text="videoNavigationTitle">热门电影</strong>
						<select name="slectVideoType" @click="getSelectIndex($event)">
							<option value="movie">热门电影</option>
							<option value="tv">热门电视</option>
						</select>
						<!-- 热门电影状态栏列表 -->
						<ul>
							<li v-for="(hotItme,index) in hotNavigationBar">
								<a href="javascript:void(0)" v-text="hotItme" :style="index==hotSetIndedx?navigationBarStyle:''" @click='hotChangeStyle(index,$event)'></a>
							</li>
						</ul>
					</div>
					<div id="listBox" v-for="(hot,index) in hotMovie">
						<div id="listImage">
							<img :src="hot.cover"><br>
							<strong>{{hot.rate}}分 </strong><label>{{hot.title}}</label>
						</div>
					</div>

				</div>
				<!-- 上下页翻页 -->
				<div id="more">
					<a href="javascript:void(0)" @click='addContent($event)'>上一页</a>
					<a href="javascript:void(0)" v-text="loadingTip" @click="loadMore">点击加载更多</a>
					<a href="javascript:void(0)" @click='addContent($event)'>下一页</a>
				</div>
			</div>
			<!-- 页尾网站信息布局 -->
			<div id="footer">
				<div id="footerLeft">
					<a href='tencent://message/?uin=1724940500&Site=&Menu=yes' title="点击与开发者聊一聊">开发者QQ:1724940500</a>
				</div>
				<div id="footerMind">
					<div>
						<span>本程序开发于2020.10.19</span>
					</div>
				</div>
				<div id="footerRight">
					<button type="button" onclick="javascript:location='#newRecommend'">^</button>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/my.js"></script>
</html>
